@model SOCIALCRUD3.Models.PublicacionesS

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PublicacionesS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypepost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypepost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPostshared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPostshared)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPublicacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
